@import url('../../globalStyling.scss');

.roomcardWrapper{
    height: 50vh; 
    max-width: 90vw;
    margin: auto;
    box-shadow: 3px 6px 8px 0px var(--shadow);
    background-color: var(--white);
    overflow: hidden;
    img{
        width: 100%;
    }
    h3, a, p{
        font-family: var(--font);
        text-decoration: none;
    }
}