@import url('../../globalStyling.scss');
.header{
    max-width: 1000px;
    figure{
        height: 40vh;
        width: 100vw;
        overflow: hidden;
        img{
            width: 100%
        }
    }
}
