@import url('../../globalStyling.scss');

.forside{
    border: 1px solid greenyellow;
    .newsWrapper{
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}